/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
  background-color: #E0E5EA;
}
.dashboard {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 220px;
  height: 90vh;
  background-color: #F6F8FA;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
  border-radius: 10px;
}

.sidebar h2 {
  color: #333;
  font-size: 24px;
  font-weight: bold;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  padding: 10px 0;
  color: #333;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.sidebar nav ul li:hover {
  background-color: #DDE2E6;
  border-radius: 5px;
  padding-left: 10px;
}

.sidebar .user {
  text-align: center;
}

.sidebar .user img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.sidebar .user p {
  margin: 5px 0;
  color: #555;
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.header input[type="search"] {
  width: 250px;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #DDE2E6;
}

.header .date p {
  font-size: 14px;
  color: #777;
}

.header button {
  background-color: #333;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.header button:hover {
  background-color: #555;
}

/* User Table */
.user-table {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.user-table h2 {
  margin-bottom: 20px;
  color: #333;
  font-size: 18px;
}

.user-table table {
  width: 100%;
  border-collapse: collapse;
}

.user-table table th, 
.user-table table td {
  padding: 10px;
  text-align: left;
}

.user-table table th {
  background-color: #F6F8FA;
  color: #555;
  font-weight: bold;
}

.user-table table tr {
  border-bottom: 1px solid #DDE2E6;
}

.user-table table tr:last-child {
  border-bottom: none;
}

.user-table table td {
  color: #555;
}

.user-table table td:nth-child(4) {
  color: #00A680; /* Status color (green) */
}

.user-table table td:nth-child(6) {
  font-weight: bold; /* Emphasizing the finish date */
}

.user-table .status {
  padding: 5px 10px;
  background-color: #DDE2E6;
  border-radius: 15px;
  text-align: center;
}

.user-table .status.in-progress {
  background-color: #00A680;
  color: white;
}

.user-table .status.done {
  background-color: #B0BEC5;
  color: white;
}
